.lead__title {
  margin: 64px auto 25px;
  width: 720px;
  font-weight: 900;
  font-size: 96px;
  line-height: 1.04;
  text-align: center;
  color: #FFFFFF;
}

@media screen and (max-width: 700px) {
  .lead__title {
    margin: 48px auto 14px;
    width: 288px;
    font-size: 40px;
    line-height: 1.1;
  }
}
