.lead__caption {
  margin: 8px 0 0;
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #FFFFFF;
}

@media screen and (max-width: 800px) {
  .lead__caption {
    margin: 6px 24px 0;
  }
}

@media screen and (max-width: 350px) {
  .lead__caption {
    margin: 6px 16px 0;
  }
}
